# source common.sh

# mysql_root_password=$1

# if [ -z "${mysql_root_password}" ]; then  ###RoboShop@1
#   echo -e "\e[31mNeed Mysql Root Password\e[0m"
#   exit 1
# fi



# print_head  " <<<<<<< downloading Mysql >>>>>>> "
# dnf module disable mysql -y  &>>${log_file}
# status_check $?

# print_head  " <<<<<<< copy mysql repo >>>>>>> "
# cp ${code_dir}/configs/mysql.repo /etc/yum.repos.d/mysql.repo  &>>${log_file}
# status_check $?

# print_head  " <<<<<<< install mysql  >>>>>>> "
# dnf install mysql-community-server -y  &>>${log_file}
# status_check $?

# print_head  " <<<<<<< enable mysql >>>>>>> "
# systemctl enable mysqld &>>${log_file}
# status_check $?

# print_head  " <<<<<<<start mysql service >>>>>>> "
# systemctl start mysqld   &>>${log_file}
# status_check $?

# print_head  " <<<<<<<Reset Password >>>>>>> "
# echo show databases | mysql -uroot -p${mysql_root_password} &>>${log_file}
# mysql_secure_installation --set-root-pass ${mysql_root_password}  &>>${log_file} ## RoboShop@1
# status_check $?


- name: setup Mysql Repo
  ansible.builtin.copy:
    src: mysql.repo
    dest: /etc/yum.repos.d/mysql.repo

- name: Disable mysql 8
  ansible.builtin.shell: dnf module disable mysql -y

- name: Install Mysql 5.7
  ansible.builtin.yum:
    name: mysql-community-server
    state: installed

- name: start the Mysql
  ansible.builtin.systemd:
    name: mysqld
    state: restarted
    enabled: 
    
- name: Reset Password
  ansible.builtin.shell: mysql_secure_installation --set-root-pass RoboShop@1 
  ignore_errors: yes

- name: Print mysql
  debug:
     msg: mysql
