
- name: Install python
  ansible.builtin.yum:
    name:
      - python36
      - gcc
      - python3-devel
    state: installed


- name: app_prereq_setup
  ansible.builtin.import_tasks:
    file: app_prereq_setup.yml


- name: download dependencies & Packages 
  ansible.builtin.pip:
    requirements: /app 
    executable: pip3.6



- name: schema_setup
  ansible.builtin.import_tasks:
    file: schema_setup.yml
  when: schema_setup is defined


- name: systemd_setup
  ansible.builtin.import_tasks:
    file: systemd_setup.yml