- name: Mongodb schema
  when: schema_setup == "mongo"
  block:
    - name: Setup Mongodb Repo file
      ansible.builtin.copy:
        src: mongodb.repo
        dest: /etc/yum.repos.d/mongo.repo

    - name: Install Mongodb clinet
      ansible.builtin.yum:
         name: mongodb-org-shell
         state: installed
    
    - name: Load schema
      ansible.builtin.shell: mongo --host mongodb-dev.devsig90.online </app/schema/{{component}}.js




- name: Mysql schema
  when: schema_setup == "mysql"
  block:
    - name: Install Mysql clinet
      ansible.builtin.yum:
         name: mysql
         state: installed
    
    - name: Load schema
      ansible.builtin.shell: mysql -h mysql-dev.devsig90.online -uroot -pRoboShop@1 < /app/schema/shipping.sql
    
